@model ViewModels.ProfileViewModel

@{
    ViewBag.PageTitle = "User Profile Details";
}

<h1>@ViewBag.PageTitle</h1>

<div class="row">
    <div class="col-md-12">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="UserName"></label>
            <input asp-for="UserName" class="form-control" disabled />
        </div>
        <div class="form-group">
            <label asp-for="Role"></label>
            <input asp-for="Role" class="form-control" disabled />
        </div>
        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" disabled />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Gender"></label>
            <input asp-for="Gender" class="form-control" disabled />
            <span asp-validation-for="Gender" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="BirthDate"></label>
            <input asp-for="BirthDate" class="form-control" disabled />
            <span asp-validation-for="BirthDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" disabled />
        </div>
    </div>
</div>