@model ViewModels.CreateRoleViewModel

@{
  ViewBag.PageTitle = "Create Role";
}

<h1>@ViewBag.PageTitle</h1>

<div class="row">
  <div class="col-md-12">
    <form method="post">
      <div asp-validation-summary="All" class="text-danger"></div>
      <div class="form-group">
        <label asp-for="RoleName"></label>
        <input asp-for="RoleName" class="form-control" />
        <span asp-validation-for="RoleName" class="text-danger"></span>
      </div>
      <button type="submit" class="btn btn-primary" style="width:auto">Create Role</button>
      <a asp-controller="administration" asp-action="ListRoles" class="btn btn-primary" style="width:auto">List of Roles</a>
    </form>
  </div>
</div>