@model IEnumerable<Model.Employee>

<body>
  @{
    <div class="row justify-content-center m-3">
        <div class="row">
          @foreach (var Model in Model)
          {
              <div class="card  col-xs-12 m-1">
                <div class="card-header">
                  <h1>@Model.Name</h1>
                </div>

                <div class="card-body text-center">
                  <img class="card-img-top" src="~/@Model.Image" />
                </div>
                <div class="card-footer text-center">
                  <a asp-controller="home" asp-action="details" asp-route-id="@Model.Id" class="btn btn-primary m-1">View</a>
                  <a asp-controller="home" asp-action="Update" asp-route-id="@Model.Id" class="btn btn-primary m-1">Edit</a>
                  <a asp-controller="home" asp-action="delete" asp-route-id="@Model.Id" class="btn btn-danger m-1">Delete</a>
                </div>
              </div>
           
          }  
        </div>
    </div>
    }
  </body>
